<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    
    <body>
        <p>This is a message from <%=@name%></p>
        <p><%=@body%></p>
        <p>Thanks for your suggestions.</p>
    </body>
</html>